<div class="post-share">

<!-- desktop and tablet-->
<div class="hide-on-small-only">
<!--
  <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url | prepend: site.baseurl }}" class="waves-effect waves-light btn {{ site.share-button-color }} tooltipped" data-position="bottom" data-delay="20" data-tooltip="Share on Google+"><i class="mdi mdi-google-plus white-text"></i></a>
  <a href="https://twitter.com/intent/tweet?text={% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}&url={{ site.url }}{{ page.url | prepend: site.baseurl }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" class="waves-effect waves-light btn {{ site.share-button-color }} tooltipped" data-position="bottom" data-delay="20" data-tooltip="Share on Twitter"><i class="mdi mdi-twitter white-text"></i></a>
  <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url | prepend: site.baseurl }}" class="waves-effect waves-light btn {{ site.share-button-color }} tooltipped" data-position="bottom" data-delay="20" data-tooltip="Share on Facebook"><i class="mdi mdi-facebook white-text"></i></a>
-->
  <div class="sns-go">
    <ul>
      <i class="mdi mdi-share-variant material-icons small grey-text waves-effect waves-light"></i>
      <li>
        <a href="#" onclick="javascript:window.open('http://share.naver.com/web/shareView.nhn?url=' +encodeURIComponent(document.URL)+'&title='+encodeURIComponent(document.title), 'naversharedialog', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank" alt="Share on Naver" ><img src="/assets/images/sns_naver.png" width="40" alt="네이버 블러그 공유하기"></a>
      </li>
      <li>
        <a href="#" onclick="javascript:window.open('https://www.facebook.com/sharer/sharer.php?u=' +encodeURIComponent(document.URL)+'&t='+encodeURIComponent(document.title), 'facebooksharedialog', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank" alt="Share on Facebook" ><img src="/assets/images/sns_face.png" width="40" alt="페이스북 공유하기"></a>
      </li>
      <li>
        <a href="#" onclick="javascript:window.open('https://twitter.com/intent/tweet?text=[%EA%B3%B5%EC%9C%A0]%20' +encodeURIComponent(document.URL)+'%20-%20'+encodeURIComponent(document.title), 'twittersharedialog', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank" alt="Share on Twitter" ><img src="/assets/images/sns_tw.png" width="40" alt="트위터 공유하기"></a>
      </li>
      <li>
        <a href="#" onclick="javascript:window.open('https://plus.google.com/share?url=' +encodeURIComponent(document.URL), 'googleplussharedialog','menubar=no,toolbar=no,resizable=yes, scrollbars=yes,height=350,width=600');return false;" target="_blank" alt="Share on Google+"><img src="/assets/images/sns_google.png" width="40" alt="구글 플러스 공유하기"></a>
      </li>
      <li>
        <a href="#" onclick="javascript:window.open('https://story.kakao.com/s/share?url=' +encodeURIComponent(document.URL), 'kakaostorysharedialog', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes, height=400,width=600');return false;" target="_blank" alt="Share on kakaostory"><img src="/assets/images/sns_kakao.png" width="40" alt="카카오스토리 공유하기"></a>
      </li>
    </ul>
  </div>
</div>

<!-- small screen device -->
<div class="hide-on-med-and-up">

<!--
  <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url | prepend: site.baseurl }}" class="waves-effect waves-light btn-floating {{ site.share-button-small-color }}"><i class="mdi mdi-google-plus white-text"></i></a>
  <a href="https://twitter.com/intent/tweet?text={% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}&url={{ site.url }}{{ page.url | prepend: site.baseurl }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" class="waves-effect waves-light btn-floating {{ site.share-button-small-color }}"><i class="mdi mdi-twitter white-text"></i></a>
  <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url | prepend: site.baseurl }}" class="waves-effect waves-light btn-floating {{ site.share-button-small-color }}"><i class="mdi mdi-facebook white-text"></i></a>
-->
  <div class="sns-go">
    <ul>
      <i class="mdi mdi-share-variant waves-effect waves-light small tooltipped grey-text" data-position="bottom" data-delay="50" data-tooltip="Share"></i>
      <li>
        <a href="#" onclick="javascript:window.open('http://share.naver.com/web/shareView.nhn?url=' +encodeURIComponent(document.URL)+'&title='+encodeURIComponent(document.title), 'naversharedialog', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank" alt="Share on Naver" ><img src="/assets/images/sns_naver.png" width="40" alt="네이버 블러그 공유하기"></a>
      </li>
      <li>
        <a href="#" onclick="javascript:window.open('https://www.facebook.com/sharer/sharer.php?u=' +encodeURIComponent(document.URL)+'&t='+encodeURIComponent(document.title), 'facebooksharedialog', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank" alt="Share on Facebook" ><img src="/assets/images/sns_face.png" width="40" alt="페이스북 공유하기"></a>
      </li>
      <li>
        <a href="#" onclick="javascript:window.open('https://twitter.com/intent/tweet?text=[%EA%B3%B5%EC%9C%A0]%20' +encodeURIComponent(document.URL)+'%20-%20'+encodeURIComponent(document.title), 'twittersharedialog', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank" alt="Share on Twitter" ><img src="/assets/images/sns_tw.png" width="40" alt="트위터 공유하기"></a>
      </li>
      <li>
        <a href="#" onclick="javascript:window.open('https://plus.google.com/share?url=' +encodeURIComponent(document.URL), 'googleplussharedialog','menubar=no,toolbar=no,resizable=yes, scrollbars=yes,height=350,width=600');return false;" target="_blank" alt="Share on Google+"><img src="/assets/images/sns_google.png" width="40" alt="구글 플러스 공유하기"></a>
      </li>
      <li>
        <a href="#" onclick="javascript:window.open('https://story.kakao.com/s/share?url=' +encodeURIComponent(document.URL), 'kakaostorysharedialog', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes, height=400,width=600');return false;" target="_blank" alt="Share on kakaostory"><img src="/assets/images/sns_kakao.png" width="40" alt="카카오스토리 공유하기"></a>
      </li>
    </ul>
  </div>

</div>

</div>
